html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: minecraftia;
  background-color: antiquewhite
  
  
}

@font-face {
    font-family: 'minecraftia';
    src: url('/font/Minecraftia-Regular.ttf');

    font-weight: normal;
    font-style: normal;
}

.matchup-box {
    border: 0px solid #ccc;   
    background-color: #f9f9f9;
    max-width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}

.matchup-team-box {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: #f9f9f9;
    max-width: 200px;
}

.matchup-team-box-score {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: #f9f9f9;
    max-width: 40px;
}