html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: minecraftia;
  background-image: url('/images/background1.png');
  background-size: 100%; 1000px;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: antiquewhite;
}

@font-face {
    font-family: 'minecraftia';
    src: url('/font/Minecraftia-Regular.ttf');

    font-weight: normal;
    font-style: normal;
}

.matchup-box {
    border: 0px solid #ccc;   
    background-color: #f9f9f9;
    max-width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    width: 250px;

}

.matchup-team-box {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: #f9f9f9;
    max-width: 200px;
    
}

.matchup-team-box-score {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: #f9f9f9;
    max-width: 100px;
    width: 50px;
}

.matchup-team-box-score-edit {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: #f9f9f9;
    max-width: 100px;
    width: 100px;
}

.flags {
    background-image: url('/images/flags.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 800px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

