@model CTFTournamentPlanner.Models.Bracket

<table>
@foreach (Round round in Model.Rounds)
{
    <thead>@Html.DisplayNameFor(modelRound => round.Name)</thead>
    foreach (Matchup matchup in round.Matchups)
    {
        <tr>
            <div>
            @if (matchup.Teams != null)
            {
                foreach (Team team in matchup.Teams)
                {
                    <p>@team.Name</p>
                }
            }
            else
            {
                <p>
                    tbd.  
                </p>
                <p>
                    tbd.
                </p>
            }
            </div>
        </tr>
    }
}
</table>