@model IEnumerable<CTFTournamentPlanner.Models.Bracket>

@{
    ViewData["Title"] = "Index";
}

<h1>Overzicht Toernamenten</h1>

<p>
    <a asp-action="Create">Nieuw toernament</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>           
            @if (item.IsActive)
            {
               <td>Actief</td>     
            }
            else
            {
                <td>Voltooid</td>
            }
            <td>
                <a asp-controller="Brackets" asp-action="Details" asp-route-id="@item.Id">
                    <button type="submit" class="btn btn-primary">Bracket bekijken</button>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
