@{
    ViewData["Title"] = "Gebruikershandleiding";
}
<h1>@ViewData["Title"]</h1>

<p>
    Deze web applicatie dient voor het creëren van een toernament bracket en het creëren en beheren van teams. Gebruikers kunnen een team aanmaken
    of bij iemand anders in het team gaan. 
</p>
