@model IEnumerable<CTFTournamentPlanner.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Teamlijst</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-controller="Teams" asp-action="Create">
    <button type="submit" class="btn btn-primary">Nieuw Team</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Team
            </th>
            <th>
                Teamleider
            </th>
            <th>
                Aantal Teamleden
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @foreach (Player player in item.Players)
                    {
                        if (player.IsTeamLeader)
                        {
                            <p>@player.UserName</p>
                        }
                    }
                </td>
                <td>
                    @{
                        int memberCount = 0;
                    }
                    @foreach (Player player in item.Players)
                    {
                        memberCount += 1;
                    }
                    <p>@memberCount</p>
                </td>

                <td>
                    <form method="get" asp-controller="Teams" asp-action="Details" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-info">Teamprofiel</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>